meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=7")
meta(name="description", content="A collection of games and UI components made with HTML, CSS, JavaScript")
meta(name="keywords", content="vanilla, retro games, arcade games, UI components, UI")
title #{ htmlWebpackPlugin.options.title }