nav(class="nav" role="navigation" aria-label="main navigation")
  .top-nav
    .logo
      img(src="/favicon.png", alt="Logo")
  .menu
    .top
      button.outline-btn.close-btn X
    .bottom
      .sub-menu
        button.md-text.sub-menu__title Pages
        ul#page-menu.menu-links
      .sub-menu
        button.md-text.sub-menu__title Games
        ul#game-menu.menu-links
      .sub-menu
        button.md-text.sub-menu__title UI Components
        ul#ui-menu.menu-links

