.score-board
  .avatar.player
    h2.avatar-title.md-text Player
    p(class="score lg-text" id="player-score") 0
  .avatar.computer
    h2.avatar-title.md-text Computer
    p(class="score lg-text" id="computer-score") 0