.score-board
  .scores
    .score.player
      h2.score-title.md-text Player
      p(class="score lg-text" id="player-score") 0
    .score.computer
      h2.score-title.md-text Computer
      p(class="score lg-text" id="computer-score") 0
  .save
    p save game
    label(class="save-btn" for="save")
      input(type="checkbox" name="save" id="save" class="thumb")