doctype html
html(lang="en")
  head
    include ../includes/head.pug
  body
    main.main
      include ../includes/navigation.pug
      .content-container
        header.header
          h1.xl-text.title Games