extends ../../layouts/default-layout.pug
block content
  .action-btns
    a(href="/components" class="action-btn default-btn components-btn md-text")  UI components
    a(href="/games" class="action-btn outline-btn games-btn md-text") Play a game
    a(href="http://github.com/erimaga/vaniland", target="_blank", rel="noopener noreferrer" class="action-btn silent-btn github-btn md-text") Check out on github
