@mixin default-grid($cols, $rows) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-template-rows: $rows;
}

@mixin center-grid {
  display: grid;
  place-items: center;
}

@mixin directional-grid($direction) {
  display: grid;
  grid-auto-flow: $direction;
  gap: 1.5rem;
  align-items: center;
}

@mixin spread-flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin lgScreen {
  @media (min-width: $desktop) {
    @content;
  }
}
