.header,
.action-btns {
  grid-column: 2 / -2;
}
.header {
  @include default-grid(6, auto);
  align-items: center;
}

.top {
  grid-column: 2 / -2;

  padding: 3rem 0;
}

.bottom {
  grid-column: 1 / -1;
}

.title {
  text-align: center;
}

.img {
  @include center-grid;

  width: 100%;
  text-align: center;
}

.action-btns {
  @include directional-grid(row);

  padding: 3rem 0;
}

.action-btn {
  @include center-grid;

  padding: 1.5rem 1rem;

  text-decoration: none;

  border-radius: 10px;
}

.github-btn {
  color: paint('text-mid');
  background-color: transparent;
}
