@import 'resets';

body,
html {
  font-size: 14px;
  font-family: fontFamily('body'), cursive, sans-serif;
  font-feature-settings: 'kern';
}
body {
  color: paint('text-dark');
  background-color: paint('background-light');

  scroll-snap-type: mandatory;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  outline-color: transparent(currentColor, 0.4);
}

.main {
  @include default-grid(12, auto);
  scroll-snap-align: start;

  min-height: 100vh;
}

.content-container {
  grid-column: 2 / -2;

  width: 100%;

  padding-top: $nav-height;

  @include lgScreen {
    max-width: 800px;
    margin: 0 auto;
  }
}

.header {
  grid-column: 2 / -2;

  padding: 2rem 1rem;
}

.title {
  font-family: fontFamily('heading'), serif;
  font-weight: fontWeight('normal');

  color: paint('primary');
}

.xl-text {
  font-size: fontSize('xl');
}
.lg-text {
  font-size: fontSize('lg');
}
.md-text {
  font-size: fontSize('md');
}
.sm-text {
  font-size: fontSize('sm');
}
.xsm-text {
  font-size: fontSize('xsm');
}

.default-btn {
  color: paint('text-light');
  background-color: paint('secondary');

  border: 1px solid transparent;
}

.outline-btn {
  color: paint('secondary');
  background-color: transparent;

  border: 1px solid currentColor;
}

.icon {
  color: paint('text-mid');
  pointer-events: none;
}

.text-center {
  text-align: center;
}

/* Navigation Menu styles */
@import 'navigation';
/* End of navigation menu styles */

/* Score board styles */
@import 'score-board';
/* end of Score board styles */
