@import 'resets';

body,
html {
  font-size: 14px;
  font-family: fontFamily('body'), cursive, sans-serif;
  font-feature-settings: 'kern';
}
body {
  color: color('text-light');
  background-color: color('background-dark');

  scroll-snap-type: mandatory;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  outline-color: transparent(currentColor, 0.4);
}

.main {
  @include default-grid(12);
  scroll-snap-align: start;

  min-height: 100vh;
}

.content-container {
  grid-column: 2 / -2;
}

.header {
  grid-column: 2 / -2;

  padding: 2rem 1rem;
}

.title {
  font-family: fontFamily('heading'), serif;
  font-weight: fontWeight('normal');

  color: color('primary');
}

.xlg-text {
  font-size: fontSize('xlg');
}
.lg-text {
  font-size: fontSize('lg');
}
.md-text {
  font-size: fontSize('md');
}
.sm-text {
  font-size: fontSize('sm');
}
.xsm-text {
  font-size: fontSize('xsm');
}

.default-btn {
  color: color('text-light');
  background-color: color('secondary');

  border: 1px solid transparent;
}

.outline-btn {
  color: color('secondary');
  background-color: transparent;

  border: 1px solid currentColor;
}
