.header {
  text-align: center;
}

.outcome-board {
  @include center-grid;

  color: paint('secondary');
  padding: 4rem 0;

  min-height: 200px;

  text-align: center;
}

.action-btns {
  $base: 5rem;
  $win: paint('accent');
  $lose: paint('danger');
  $draw: paint('neutral');

  @include directional-grid(column);
  justify-content: space-between;

  padding: 3rem 0;

  .action-btn {
    @include center-grid;

    width: $base;
    height: $base;
    font-size: $base / 2;

    border-radius: 50%;

    box-shadow: 0 2px 4px rgba($color: paint('secondary'), $alpha: 0.25);

    outline: none;

    transition: all 0.35s ease-in-out;
  }
}

.success {
  color: paint('accent');
}

.draw {
  color: paint('neutral');
}

.success-btn {
  background-color: paint('accent');
}
