extends ../../layouts/default-layout.pug
block title
  h1.xl-text.title.text-center Games
block description
  p.sm-text.text-center Every game was made to practice my JavaScript skills in fun-frustration.
block content
  section.all-games.all-content-list
    ul.all-content-links
