extends ../../layouts/game-layout.pug
block title
  h1.xl-text.title Rock, Paper, Scissors
block content
  .outcome-board
    h2.lg-text.outcome-title Make your move
    p.outcome-detail Forge your metal
  .action-btns
    button(class="action-btn outline-btn lg-text" id="rock" data-choice="rock" aria-label="Choose rock")
      span(class="action-icon icon" role="img" aria-label="raised fist emoji to represent the rock choice") ✊
    button(class="action-btn outline-btn lg-text" id="paper" data-choice="paper" aria-label="Choose paper")
      span(class="action-icon icon" role="img" aria-label="raised back of hand emoji to represent the paper choice") 🤚
    button(class="action-btn outline-btn lg-text" id="scissors" data-choice="scissors" aria-label="Choose scissors")
      span(class="action-icon icon" role="img" aria-label="victory hand emoji to represent the scissors choice") ✌

