@import 'resets';

body,
html {
  font-size: 14px;
  font-family: fontFamily('body'), cursive, sans-serif;
  font-feature-settings: 'kern';
}
body {
  color: paint('text-dark');
  background-color: paint('background-light');

  scroll-snap-type: mandatory;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  outline-color: transparent(currentColor, 0.4);
}

.main {
  scroll-snap-align: start;

  min-height: 100vh;

  @include lgScreen {
    max-width: 960px;
    margin: 0 auto;
  }
}

.content-container {
  @include default-grid(12, auto);

  width: 100%;
  height: max-content;
  min-height: 100vh;

  padding-top: $nav-height;

  & > * {
    grid-column: 1 / -1;
  }

  .all-content-list {
    align-self: start;
    height: 100%;
  }
}

.header {
  padding: 2rem 1rem;

  height: 100%;
}

.title {
  font-family: fontFamily('heading'), serif;
  font-weight: fontWeight('normal');

  color: paint('primary');
}

.xl-text {
  font-size: fontSize('xl');
}
.lg-text {
  font-size: fontSize('lg');
}
.md-text {
  font-size: fontSize('md');
}
.sm-text {
  font-size: fontSize('sm');
}
.xsm-text {
  font-size: fontSize('xsm');
}

.default-btn {
  color: paint('text-light');
  background-color: paint('secondary');

  border: 1px solid transparent;
}

.outline-btn {
  color: paint('secondary');
  background-color: transparent;

  border: 1px solid currentColor;
}

.icon {
  color: paint('text-mid');
  pointer-events: none;
}

.text-center {
  text-align: center;
}

// Navigation Menu styles
@import 'navigation';
/* End of navigation menu styles */

// Score board styles
@import 'score-board';

// Footer styles
@import 'footer';
