doctype html
html(lang="en")
  head
    include ../includes/head.pug
    block head
  body
    main.main
      include ../includes/navigation.pug
      section.content-container
        header.header
          .top
            block title
              h1.xl-text.title.text-center #{ htmlWebpackPlugin.options.title }
          .bottom
            block description
              p.sm-text.text-center A collection of games and UI components made with HTML, CSS and JavaScript.
        block content
      include ../includes/footer.pug
