doctype html
html(lang="en")
  head
    include ../includes/head.pug
    block head
  body
    main.main
      include ../includes/navigation.pug
      section.content-container
        header.header
          block title
            h1.xl-text.title Games
        include ../includes/score-board.pug
        block content
      include ../includes/footer.pug
