doctype html
html(lang="en")
  head
    include ../includes/head.pug
  body
    main.main
      .content-container
        header.header
          .top
            .img
              img(src="favicon.png", alt="Vaniland logo, A silhouette of the letter V")
            h1.xlg-text.title #{ htmlWebpackPlugin.options.title }
          .bottom
            p.md-text A collection of games and UI components made with HTML, CSS and JavaScript.
        .action-btns
          a(href="/components" class="action-btn default-btn components-btn md-text")  UI components
          a(href="/games" class="action-btn outline-btn games-btn md-text") Play a game
          a(href="http://github.com/erimaga/vaniland", target="_blank", rel="noopener noreferrer" class="action-btn silent-btn github-btn md-text") Check out on github
